.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card-content {
  height: 100px;
  text-align: left;
  cursor: pointer;
}

.drawer {
  width: 240px;
}

.dashboard {
  display: flex;
}

.drawer-list {
  margin-top: 85px !important;
}

.MuiAccordion-root.Mui-expanded {
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
